<div class="post-container">
    <div *ngIf="user">
        <label>Post Title</label>
        <input class="form-element" class="form-element" type="text"  placeholder="Title" [(ngModel)]="title" />
        <label>Post Hero</label>
        <input class="form-element" class="form-element" type="text"  placeholder="Hero Image" [(ngModel)]="hero" />
        <label>Post Content</label>        
        <textarea class="form-element textarea" style="height: 400px;" placeholder="Post Body" [(ngModel)]="body"></textarea>
        <div class="buttons">
            <button class="btn" (click)="create()" *ngIf="!slug">Create Post</button>
            <button class="btn" (click)="update()" *ngIf="slug">Update Post</button>        
            <button class="btn" (click)="delete()" *ngIf="slug">Delete Post</button>        
        </div>
    </div>
    
    <button id="logout" (click)="logout()">Logout</button>
</div>
