.page-content
    display: flex

    .left
        width: 22%
        //background-color: #f7f9fa

    .right
        width: 22%
        //background-color: #f7f9fa

    .post-single-body
        z-index: 10
        width: 56%
        background-color: white
        color: #3A4145
        //color: #A1B6CE
        line-height: 1.6em
        //border-left: 1px solid rgba(0,0,0,0.2)
        //border-right: 1px solid rgba(0,0,0,0.2)   
        box-shadow: 0px 1px 13px rgba(199, 198, 198, 1)

        .post-header
            display: flex
            align-items: center
            justify-content: space-between
            margin-right: 30px

            .post-author
                display: flex
                align-items: center

                .author-image
                    height: 50px
                    width: 50px
                    display: block
                    background-image: url("/assets/me.jpg")
                    background-size: cover
                    border-radius: 50%
                    margin: 0 15px 0 30px

            .post-share
                i
                    font-size: 25px
                    cursor: pointer
                    margin-left: 10px

                    &:hover
                        color: lighten(black, 40)

            #timestamp
                color: rgba(0, 0, 0, .6)
                margin-left: 30px

        #post-single-title
            padding: 15px 30px 0 30px
            margin: 10px 0

        img
            width: 100%

        .markdown
            padding: 0 30px 0 30px 

.gradient
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* W3C */

@media only screen and (max-width : 992px)
    .post-single-body
        width: 100% !important
        font-size: .8em

        img
            width: 100%

    .left
        display: none

    .right
        display: none