@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:500);
@import url(https://fonts.googleapis.com/css?family=Patua+One);

$prism-color       : #F5F5F5;
$prism-text-shadow : none;
$prism-bg          : #222;
$prism-comment     : darken(#F5F5F5, 70);
$prism-punctuation : darken(#F5F5F5, 20);
$prism-property    : #00ACC1;
$prism-selector    : #FFC135;
$prism-keyword     : #FF5252;
$prism-function    : #42A5F5;
$prism-variable    : #C3D82C;
$prism-lang-color  : black;
$prism-lang-bg     : #cfcfcf;

//Start Prism Code
code[class*="language-"],
pre[class*="language-"] {
	font-weight: 500;
	border: none;
	color: $prism-color;
	font-size: 0.9em;
	letter-spacing: 1.2px;
	text-shadow: $prism-text-shadow;
	font-family: 'Roboto Mono', sans-serif;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	
}
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}
@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}
/* Code blocks */
pre[class*="language-"] {
	padding: 0 1em 1em;
	margin: 0 0 2em;
	overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $prism-bg;
	padding-top: 10px;
	//border-bottom: 4px solid darken(#fafafa, 12%);
	border-radius: 5px;	
}
/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $prism-comment;
}
.token.punctuation {
	color: $prism-punctuation;
	font-weight: 500;
}
.namespace {
	opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: $prism-property;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $prism-selector;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
}
.token.atrule,
.token.attr-value,
.token.keyword {
	color: $prism-keyword;
}
.token.function,
.token.delimiter {
	color: $prism-function;
}
.token.regex,
.token.important,
.token.variable {
	color: $prism-variable;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
pre[class*='language-'] {
	position: relative;
}