.portfolio-content
    text-align: center
    padding-top: 20px
    display: flex
    justify-content: center

    .projects
        width: 90%
        text-align: center
        display: flex
        justify-content: space-between
        flex-wrap: wrap

        .project
            float:left
            position: relative
            width: 46%
            padding-bottom: 40%
            margin: 1.9%
            box-shadow: 0 30px 40px -15px rgba(0,0,0,0.35)
            cursor: pointer
            transition: all .2s ease-in-out

            .project-image
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 100%
                background-size: cover
                background-position: center
                animation: zoomOut .2s ease-in-out
                z-index: 0
                

            &:hover
                transform: scale(1.1)
                transition: all .2s ease-in-out

                span:nth-child(3)
                    display: block
                    animation: fadeIn .2s ease-in-out

@keyframes fadeIn
    from
        transform: scale(.3)
        opacity: 0
    to
        transform: scale(1)
        opacity: 1

@keyframes fadeOut
    from
        transform: scale(1)
        opacity: 1
    to
        transform: scale(.3)
        opacity: 0

@media only screen and (max-width : 1024px)
    .portfolio-content
        margin-top: -45px

    .project
        width: 55%