<div class="portfolio-container">
  <div class="portfolio-content">
      <div class="projects">
        <div class="project">
          <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
          <span>Case Management</span>
          <span>Learn More</span>      
        </div>
        <div class="project">
          <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
          <span>Seating Chart</span>
          <span>Learn More</span>      
        </div>
        <div class="project">
          <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
          <span>Inventory</span>
          <span>Learn More</span>      
        </div>
        <div class="project">
          <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
          <span>Student Ambassador Homepage</span>
          <span>Learn More</span>      
        </div>
        <div class="project">
          <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
          <span>Project 5</span>
          <span>Learn More</span>      
        </div>
      </div>
    </div>
</div>

