<div class="sidebar"> 
    <div class="logo">
        <a href="/">
            <span id="main">Matthew Fortier</span>
            <div class="underline"></div>
            <span id="sub">Front End Developer</span>
        </a>
    </div>
    <ul>
        <li routerLink="/blog">Blog</li>
        <span class="separator"></span>
        <li routerLink="/portfolio">Portfolio</li>
        <span class="separator"></span>
        <li routerLink="/resume">Resume</li>
        <span class="separator"></span>
        <li routerLink="/connect">Connect</li>
    </ul>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>