<div class="page-content">
    <div class="left"></div>
    <div class="project-single-body">
        <h1 id="project-single-title">{{ title }}</h1>
        <ngx-slick *ngIf="!codepen" class="carousel" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                  <img src="{{ slide }}" alt="" width="100%">
            </div>
        </ngx-slick>
        <div markdown-to-html [data]="codepen"></div>
        <div class="markdown" markdown-to-html [data]="body"></div>
        <div class="disqus" [style.padding]="'20px'">
            <disqus [identifier]="slug" [url]="" [lang]="'en'"></disqus>            
        </div>
    </div>
    <div class="right"></div>
</div>