// Fonts 
@import url('https://fonts.googleapis.com/css?family=Biryani|Muli|Prompt|Open+Sans|Roboto+Mono|Work+Sans:800|Rubik:300,400,700')
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700,800|Roboto+Slab|Montserrat:300,500,700,800')

$black: #111
$dark-gray: #222
$red: #FF5252
$nav: #181818

html 
    overflow: hidden;
    height: 100%;

a
    text-decoration: none
    color: inherit

body
    height: 100%
    font-family: 'Muli', sans-serif
    overflow-y: auto
    overflow-x: hidden
    margin: 0
    padding: 0
    background-color: #f7f9fa

