<div class="home-container">
  <div class="hero">
    <!-- <img class="hero-image" src="./assets/icons/icons.png" alt=""> -->
    <div class="hero-text">
      <span>Matthew Fortier</span> <br>
      <span>Full Stack Developer</span> <br>
      <span>Interested in Front-End development and any and all modern web technolgies</span>    
    </div>
  </div>
</div>

<div class="home-content">
  <div class="projects">
    <div class="project">
      <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
      <span>Project 1</span>
      <span>Learn More</span>      
    </div>
    <div class="project">
      <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
      <span>Project 2</span>
      <span>Learn More</span>      
    </div>
    <div class="project">
      <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
      <span>Project 3</span>
      <span>Learn More</span>      
    </div>
    <div class="project">
      <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
      <span>Project 4</span>
      <span>Learn More</span>      
    </div>
    <div class="project">
      <div class="project-image" style="background-image: url('http://i.imgur.com/fGX6Z9z.jpg')"></div>
      <span>Project 5</span>
      <span>Learn More</span>      
    </div>
  </div>
</div>