<div class="home-container">
  <div class="hero">
    <!-- <img class="hero-image" src="./assets/icons/icons.png" alt=""> -->
    <div class="hero-text">
      <span>Matthew Fortier</span> <br>
      <span>Full Stack Developer</span> <br>
      <span>Interested in Front-End development and any and all modern web technolgies</span>    
    </div>
  </div>
</div>

<div class="home-content">
  <div class="projects">
    <div class="project" style="background-image: url('https://unsplash.it/800/600')">
      <div class="frost"></div>
      <span>Project 1</span>
      <span>Learn More</span>      
    </div>
    <div class="project" style="background-image: url('https://unsplash.it/1920/1080')">
      <span>Project 2</span>    
    </div>
    <div class="project" style="background-image: url('https://unsplash.it/720/550')">
      <span>Project 3</span>    
    </div>
    <div class="project" style="background-image: url('https://unsplash.it/720/550')">
      <span>Project 4</span>    
    </div>      
  </div>
</div>